<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>使用说明及意见</title>
    <link rel="import" href="../index.php">
    <!-- Custom styles for this template -->
    <link href="../css/narrow-jumbotron.css" rel="stylesheet">
</head>

<body>

    <p>我是大屏幕这一页显示当前top 10玩家的名字和分数。进入此页不需要登录。</p>
    <p>我是老板这一页显示所有玩家的用户名和密码，以防某玩家忘记用户名或密码。此页只允许老板账户访问。</p>
    <p>我是玩家这一页显示玩家的总分。</p>
    <p>注册页面要求输入两次用户名和两次密码，完毕后存入数据库。</p>
    <p>我是主持人页面只允许主持人登陆。主持人登陆后，需要输入房间号（BBar的房间的信息需要老板提供给我们）， 每个用户名，每次输入会和数据库核对，核对不成功游戏也无法开始，并且输入游戏方式和角色数量（由于此系统主要是积分的平台，输入游戏方式和角色数量目前没有实际作用）。 游戏开始后，主持人进行线下作业。游戏结束后，主持人可输入每个玩家分数，并传入数据库。
    </p>


</body>

</html>