<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>登陆页面</title>
    <link rel="import" href="../index.php">
      <!-- Custom styles for this template -->
    <link href="../css/narrow-jumbotron.css" rel="stylesheet">
  </head>

  <body ng-app="myApp">
    <div class="container container-fluid" >
       <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills">
            <li class="nav-item" style="float: right">
              <a class="nav-link active" href="../index.php">回到主页 </a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">用户登录</h3>
      </div>

      <!--<div class="row marketing">
       <div class="table-responsive">          
        <table class="table">
          <thead>
            <tr>
              <th>目前排名</th>
              <th>用户名</th>
              <th>分数</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>大保健</td>
              <td>250</td>
            </tr>
            <tr>
              <td>2</td>
              <td>大表弟</td>
              <td>38</td>
            </tr>
          </tbody>
        </table>

      </div>
   
    </div> -->
    <div class="input-group margin-bottom-sm">
  <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
  <input class="form-control" type="text" placeholder="用户名">
</div>
<div class="input-group">
  <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
  <input class="form-control" type="password" placeholder="密码">
</div>

  </body>
</html>
