<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>我是主持人-录入信息</title>
    <link rel="import" href="../index.php">
    <!-- Custom styles for this template -->
    <link href="../css/narrow-jumbotron.css" rel="stylesheet">
</head>

<body ng-app="myApp" ng-controller="hostEntreInfoControl">
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills">
                    <li class="nav-item" style="float: right">
                        <a class="nav-link active" href="../index.php">回到主页 </a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">我是主持人-录入信息</h3>
        </div>
        <!--here we add a number input controller-->

        <div class = "row">
           <label for="sel1">请选择房间号:</label>
            <select  class="form-control" ng-model="room" ng-change="getRoom()">
                <option ng-repeat="room in rooms" value="{{room}}">{{room}}</option>
            </select>
        </div>

        <div class="row">
            <div class="table-responsive">
                <table class="table" id='enterPlayer'>
                    <thead>
                        <tr>
                            <th>玩家</th>
                            <th>玩家用户名</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="player in players">
                            <td>{{$index + 1}}</td>
                            <td>
                                <div class="input-group" style="display: flex;">
                                    <span class="input-group-addon" ><i class="fa fa-key fa-fw"></i></span>
                                    <input class="form-control" type="text" placeholder="用户名" 
                                            ng-model="player.playerName" style="margin-right:10%" ng-disabled = "player.valide">
                                    <button type="button" class="btn btn-primary" ng-click="valide($index)" ng-show = "!player.valide && !allPlayersOK">确定</button>
                                    <button type="button" class="btn btn-primary" ng-click="delete($index)" ng-show = "player.valide && !allPlayersOK">删除</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary" ng-click="addPlayer()" ng-show = "!allPlayersOK">加入新玩家</button>
                <button type="button" class="btn btn-primary" ng-click="finish()" ng-show = "!allPlayersOK">结束添加并确认</button>
                <label ng-show="allPlayersOK"> 所有玩家已输入完毕，请继续游戏</label>
            </div>
        </div>
    
    <div class="row">
        <label> 游戏方式</label>
            <select  class="form-control"  name="modeChoose">
                        <option value="volvo">屠边局</option>
                        <option value="saab">屠城局</option>
            </select>    
            <button type="button" class="btn btn-primary" ng-click="">确定游戏方式</button>
    </div>

<div class = "row">
    <div class="table-responsive">
        <table class="table" ,id='enterNumberCharacter'>
            <thead>
                <tr>
                    <th>角色</th>
                    <th>数量</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>狼人</td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                            <input class="form-control" type="numberWolf" placeholder="数量" ng-model="numberWolf">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>狼美人</td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                            <input class="form-control" type="numberWolf" placeholder="数量" ng-model="numberWolf">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>恶魔</td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                            <input class="form-control" type="numberWolf" placeholder="数量" ng-model="numberWolf">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>预言家</td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                            <input class="form-control" type="numberWolf" placeholder="数量" ng-model="numberWolf">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>熊</td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                            <input class="form-control" type="numberWolf" placeholder="数量" ng-model="numberWolf">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>女巫</td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                            <input class="form-control" type="numberWolf" placeholder="数量" ng-model="numberWolf">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>白痴</td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                            <input class="form-control" type="numberWolf" placeholder="数量" ng-model="numberWolf">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>猎人</td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                            <input class="form-control" type="numberWolf" placeholder="数量" ng-model="numberWolf">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>吹笛者</td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                            <input class="form-control" type="numberWolf" placeholder="数量" ng-model="numberWolf">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>锈剑骑士</td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                            <input class="form-control" type="numberWolf" placeholder="数量" ng-model="numberWolf">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>骑士</td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                            <input class="form-control" type="numberWolf" placeholder="数量" ng-model="numberWolf">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>潜行者</td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                            <input class="form-control" type="numberWolf" placeholder="数量" ng-model="numberWolf">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>禁言长老</td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                            <input class="form-control" type="numberWolf" placeholder="数量" ng-model="numberWolf">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>守卫</td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                            <input class="form-control" type="numberWolf" placeholder="数量" ng-model="numberWolf">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>乌鸦</td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                            <input class="form-control" type="numberWolf" placeholder="数量" ng-model="numberWolf">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>大树长老</td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                            <input class="form-control" type="numberWolf" placeholder="数量" ng-model="numberWolf">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>丘比特</td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                            <input class="form-control" type="numberWolf" placeholder="数量" ng-model="numberWolf">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>盗贼</td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                            <input class="form-control" type="numberWolf" placeholder="数量" ng-model="numberWolf">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>野孩子</td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                            <input class="form-control" type="numberWolf" placeholder="数量" ng-model="numberWolf">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>混血儿</td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                            <input class="form-control" type="numberWolf" placeholder="数量" ng-model="numberWolf">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-primary" ng-click="createTable(numberPerson)">确定</button>
        <button type="button" class="btn btn-primary" ng-click="startGame()">开始游戏</button>
    </div>
</div>




</body>

</html>