<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>狼人杀游戏</title>
    <link rel="import" href="../index.php">
    <!-- Custom styles for this template -->
    <link href="../css/narrow-jumbotron.css" rel="stylesheet">
</head>

<body ng-app="myApp" ng-controller="hostStartGameControl">
    <div class="container container-fluid">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills">
                    <li class="nav-item" style="float: right">
                        <a class="nav-link active" href="../index.php">回到主页 </a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted" ng-show="!gameOver">游戏开始</h3>
            <h3 class="text-muted" ng-show="gameOver">游戏结束</h3>
        </div>

        <div class="row">
            <div class="table-responsive">
                <table class="table" ng-show="!gameOver">
                    <thead>
                        <tr>
                            <th>玩家用户名</th>
                            <th>本局得分</th>
                            <th>加分</th>
                            <th>确认</th>
                        </tr>
                    </thead>
                    <tbody>
                       <tr ng-repeat="player in players">
                            <td type="text" ng-model="player.playerName" >{{player.playerName}}</td>
                            <td type="text" ng-model="player.score" >{{player.score}}</td>
                            <td>
                                <select ng-model="player.scoreSelect" ng-init="player.scoreSelect = 100">
                                    <option value="100" selected>100</option>
                                    <option value="200">200</option>
                                    <option value="300">300</option>
                                </select>
                            </td>
                            <td><button class="button" ng-click="addScore($index)"> 确认</button></td>
                        </tr>
                    </tbody>
                </table>
                 <button type="button" class="btn btn-primary" ng-click="finishGame()" ng-show="!gameOver">游戏结束</button>
                 <table class="table" ng-show="gameOver">
                    <thead>
                        <tr>
                            <th>名次</th>
                            <th>玩家用户名</th>
                            <th>本局得分</th>
                        </tr>
                    </thead>
                    <tbody>
                       <tr ng-repeat="player in players | orderBy : '-score' ">
                            <td>{{$index + 1}}</td>
                            <td type="text" ng-model="player.playerName" >{{player.playerName}}</td>
                            <td type="text" ng-model="player.score" >{{player.score}}</td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary" ng-click="exitGame()" ng-show="gameOver">关闭房间，返回主页</button>
            </div>

        </div>
</body>

</html>