<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>游戏开始</title>
    <link rel="import" href="../index.php">
    <!-- Custom styles for this template -->
    <link href="../css/narrow-jumbotron.css" rel="stylesheet">
</head>

<body ng-app="myApp" ng-controller="hostStartGameControl">
    <div class="container container-fluid">
        <div class="header clearfix">
            <nav>

                <ul class="nav nav-pills">
                    <li class="nav-item" style="float: right">
                        <a class="nav-link active" href="../index.php">回到主页 </a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">游戏开始</h3>
        </div>

        <div class="row marketing">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>玩家用户名</th>
                            <th>本局得分</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>大保健</td>
                            <td><select name="scoreChoose">
                                    <option value="volvo">1000</option>
                                    <option value="saab">2000</option>
                                </select></td>
                        </tr>
                        <tr>
                            <td>大表弟</td>
                            <td><select name="scoreChoose">
                                    <option value="volvo">1000</option>
                                    <option value="saab">2000</option>
                                </select></td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
        <button type="button" class="btn btn-primary" ng-click="finishGame()">游戏结束</button>

</body>

</html>