<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>我是老板</title>
    <link rel="import" href="../index.php">
    <!-- Custom styles for this template -->
    <link href="../css/narrow-jumbotron.css" rel="stylesheet">
</head>

<body ng-app="myApp" ng-controller="iamBossCtrl">
    <div class="container container-fluid">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills">
                    <li class="nav-item" style="float: right">
                        <a class="nav-link active" href="../index.php">回到主页 </a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">所有玩家用户密码</h3>
        </div>

        <div class="row marketing">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>用户名</th>
                            <th>密码</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in users" ng-if="users.length > 0">
                            <td>{{user.username}}</td>
                            <td>{{user.pword}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

</body>

</html>