<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>我是玩家</title>
    <link rel="import" href="../index.php">
    <!-- Custom styles for this template -->
    <link href="../css/narrow-jumbotron.css" rel="stylesheet">
</head>

<body ng-app="myApp" ng-controller="iamGuestCtrl">
    <div class="container container-fluid">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills">
                    <li class="nav-item" style="float: right">
                        <a class="nav-link active" href="../index.php">回到主页 </a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">我是玩家 {{player[0].username}}</h3>
        </div>

        <div class="row marketing">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>目前排名</th>
                            <th>用户名</th>
                            <th>分数</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{player[0].rank}}</td>
                            <td>{{player[0].username}}</td>
                            <td>{{player[0].score}}</td>
                          
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

</body>

</html>