<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>我是大屏幕</title>
    <link rel="import" href="../index.php">
      <!-- Custom styles for this template -->
    <link href="../css/narrow-jumbotron.css" rel="stylesheet">
  </head>

  <body ng-app="myApp" ng-controller="iamScreenCtrl">
    <div class="container-fluid" >
       <div class="header">
        <nav>
          <ul class="nav nav-pills">
            <li class="nav-item" style="float: right">
              <a class="nav-link active" href="../index.php">回到主页 </a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">我是大屏幕</h3>
      </div>

      <div class="col-lg-12">
      
       <div class="table-responsive">          
        <table class="table">
          <thead>
            <tr>
              <th>目前排名</th>
              <th>用户名</th>
              <th>分数</th>
            </tr>
          </thead>
          <tbody>
              <tr ng-repeat="player in players | orderBy : '-score' ">
                  <td>{{$index + 1}}</td>
                  <td type="text" ng-model="player.username" >{{player.username}}</td>
                  <td type="text" ng-model="player.score" >{{player.score}}</td>
              </tr>
          </tbody>
        </table>

      </div>
   
    </div>

  </body>
</html>
